<div class="main">
    <app-navbar></app-navbar>
    <section class="carosuel">

      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/download (1).webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/download (2).webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/download.webp" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>

    <section>
      <img src="https://i.shgcdn.com/f1c1d12d-526a-4018-85a9-d94effba5c27/-/format/auto/-/preview/3000x3000/-/quality/lighter/" alt="">
    </section>
  
  </div>
    
