<section>
    <div class="container">
        <div class="body bg-dark">
            <div class="values text-center ">
                <a href="" class="ms-2 ">Home</a>
                <a href="" class="ms-2 ">Fetures</a>
                <a href="" class="ms-2 " >Pricing</a>
                <a href="" class="ms-2 ">FaQs</a>
                <a href="" class="ms-2 ">About</a>
            </div>
            <hr>
            <div class="copyright">
                <p class="text-center">	&#169; 2022 Company ,inc</p>
            </div>
        </div>
    </div>
</section>