<section>
    <app-navbar></app-navbar>
    <div class="row">
        <div class="col-md-6">
            <img src="https://cdn.shopify.com/s/files/1/0266/1371/0884/products/Black-1_1512x.jpg?v=1667381732" alt="" width="80%">
        </div>

        <div class="col-md-6 mt-5">
            <h4>Amazfit Band 7</h4>
            <p class="text-dark"></p>
            <h4>Rs.34499</h4>
            <div class="button-section">
                <div class="btn btn-outline-success">cart</div>
                
                <div class="btn btn-outline-success ms-2">buy now</div>

                
            </div>
        </div>
        </div>
</section>