<section>
    <app-navbar></app-navbar>
    <div class="row">
        <div class="col-md-6 mt-5">
            <img [src]="product.image" width="75%">
        </div>

        <div class="details col-md-6 mt-5">
            <h4>{{product.productname}}</h4>
            <p class="text-dark"></p>
            <h4>{{product.price | currency:"INR"}}</h4>
            <h6>{{product.description}}</h6>
            <div class="button-section">
                <div class="btn btn-outline-success"  (click)="addtoCart(product)">cart</div>
                
                <div class="btn btn-outline-success ms-2">buy now</div>    
            </div>
        </div>
        </div>
</section>