
.pbtn:hover{
    color: white;
    background-color: black;
    border-color: white;
   
 
}
.pbtn{
    color: black;
    
    border: none;
    border-radius: 3px;
}
img{
    border: none;
    
 }
 .cross{
    color: #ccc!important;
 }
 .price{
    font-weight:100px;
    /* font-family: Gotham-Book,"sans-serif",Arial,"sans-serif"; */
    /* font-family: "GOTHAMBOLD"; */
 }