body{
    font-family: Georgia, 'Times New Roman', Times, serif,"sans-serif",Arial,"sans-serif";
}
.card{
    text-decoration: none;
}


a{
    text-decoration: none;
    
}


.shadow:hover{

    transform: scale(1.1);
    transition: 0.9s;
}