body{
    font-family: Georgia, 'Times New Roman', Times, serif,"sans-serif",Arial,"sans-serif";
}
.card{
    text-decoration: none;
}
img{
   
    
}
.image{
    
}

a{
    text-decoration: none;
    
}